<nav>
  <img src="/images/otek-transparent.png" alt="otek" />
  <div class="reg-login">
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-light btn-lg" href="/login" role="button">Log In</a>
  </div>
</nav>
