:root {
  --color1: #2f3e46;
  --color2: #354f52;
  --color3: #52796f;
  --color4: #84a98c;
  --color5: #cad2c5;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  margin: 0;
  padding: 0;
}
h1 {
  color: #00796b;
  text-align: center;
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table,
th,
td {
  /* border: 1px solid #004d40; */
  border: 1px solid var(--color2);
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  /* background-color: #004d40; */
  background-color: var(--color2);
  color: white;
}

/* tr:nth-child(even) { optional if want every other col to alternate
  background-color: var(--color5);
} */

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background-color: var(--color1);
  overflow: hidden;
  padding: 10px;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
}

nav img {
  width: 120px;
  height: 100%;
  margin-left: 10%;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10%;
}
nav a:hover {
  color: #e0f7fa;
}

/* for reg and login */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-login .btn {
  width: 250px;
}
