:root {
  --color1: #2f3e46;
  --color2: #354f52;
  --color3: #52796f;
  --color4: #84a98c;
  --color5: #cad2c5;
  --main-background: #e0f7fa;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--main-background);
  margin: 0;
  padding: 0;
}

h1 {
  color: #00796b;
  text-align: center;
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  /* border: 1px solid #004d40; */
  border: 1px solid var(--color2);
}
th,
td {
  padding: 10px;
  text-align: left;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
th {
  /* background-color: #004d40; */
  background-color: var(--color2);
  color: white;
}

/* staff name */
.staff-name {
  display: block; /* Ensure each name takes its own line */
  white-space: nowrap; /* Prevent names from breaking in the middle */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.hidden {
  display: none;
}

.daily-log-buttons,
.expense-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}
button {
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

/* tr:nth-child(even) { optional if want every other col to alternate
    background-color: var(--color5);
  } */

.container {
  width: 100%;
  margin: 0 auto;
}

nav {
  background-color: var(--color1);
  overflow: hidden;
  padding: 10px;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
}

nav img {
  width: 120px;
  height: 100%;
  margin-left: 10%;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10%;
}
nav a:hover {
  color: #e0f7fa;
}

/* for reg and login */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-login .btn {
  width: 250px;
}

#statusForm {
  width: 150px;
}

#statusForm button {
  color: white;
}

.subheading {
  display: flex;
  justify-content: space-between;
}

.red-slash {
  text-decoration: line-through;
  color: red;
}

tr.highlight {
  border: 5px solid navy;
}

button {
  width: 100%;
  margin: 2px 0;
}

.project-name {
  font-weight: bold;
  max-width: 150px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.navbar-logo {
  height: 40px; /* Adjust the height as needed */
}

.navbar-clock {
  color: white; /* Assuming the GlobalClock component will take a className prop */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.back,
.add {
  width: 9vw;
  margin: 10px;
}

.wider-col {
  min-width: 170px;
  max-width: 170px;
  font-size: small;
}

.grayed-out {
  background-color: gray;
  pointer-events: none;
}

.project-container {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

td .btn,
td button {
  font-size: x-small;
}

.status-container {
  display: flex;
  gap: 10px;
}

#project-table {
  overflow-y: auto;
}

.highlight {
  color: red;
  font-weight: bold;
}

.notification-list {
  text-align: left; /* Ensure text is aligned left */
}
